<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Resume</title>
    </head>
    <body bgcolor="#D5D8DC">
        <table width="700px" height="800px" align="center">
            <tr>
                <td width="200px"bgcolor="1c2833" style="color:white;padding:20px">
                <img src="../static/images/download.jpeg" style= "border-radius:100%;"alt="">
                <style>
                      img{
                 border:1px solid #ddd;
                 border-radius: 4px;
                 padding: 5px;
                 width:150px;
             }
                </style>
                <h1>personal details</h1> <hr>
                <p><b>Name: </b><br>
                    Muthuprakash B <br><br>

                    <b>Address:</b> <br>
                    774 krishna nagar <br>
                    kurinjipadi Cuddalore <br><br>

                    <b>Phone Number:</b><br>
                    9080148236 <br><br>

                    <b>Email address:</b>  <br>
                    immuthuprakashb@gmail.com <br><br>

            <h2>Skills</h2> <hr>
            <ul>
                <li>C</li>
                <li>C++</li>
                <li>CORE JAVA</li>
                <li>HTML</li>
                <li>DBMS</li>
                
            </ul>

         

                  
                  <style>
                      .Name{
                          margin-top: initial;
                      }
                  </style>

                </p>
                 </td>
                 <td width="500px" bgcolor="#FDFEFE" style="padding: 10px;">
                     <h1>MUTHUPRAKASH B</h1>
                     <P>I am looking for the oppurtunity to work in a high-end engineering environment wherein my academic skills will be used to add value to the company.</P>
                    <h2>EDUCATION DETAILS</h2> <hr>    
                    <h3>Adhiyamaan College of Engineering</h3>
                    <ul>
                        <li>2017-2021</li>
                        <li>B.E Computer Science and Engineering</li>
                        <li>8.5 CGPA(upto VII Semester</li>
                    </ul>
                    <h3>Sri Ram Matriculation Higher Secondary School</h3>
                    <ul>
                        <li>2016-2017</li>
                        <li>HSC</li>
                        <li>79.5 Percentage</li>
                    </ul>
                    <h3>Sri Ram Matriculation Higher Secondary School</h3>
                    <ul>
                        <li>2014-2015</li>
                        <li>SSLC</li>
                        <li>92.8 Percentage</li>
                    </ul>
                    <h4>PROJECT DETAILS</h4> <hr>
                    <h5>Social media statement analysis using twitter dataset</h5>
                    <p>It determines whether a peice of writing is positive,negative or neutral.It performs sentimental analysis on twitter data to understand the tone of users.</p>
<style>
    .h5{
        font-size: 1.875em;
    }
</style>
                    </td>
               
                 </td>
               
            </tr>

        </table>
    </body>
</html>
